@font-face {
    font-family: "Pokemon GB"; 
    src: url(../fonts/jackster-productions_pokemon-gb/Pokemon\ GB.ttf)
}



body {
    font-family: "Pokemon GB";
}



main h1{
    background-color: orangered;
    text-align: center;
    margin-bottom: 0;
}



#géneral article {
    background-color: lightblue;
}



#dex article {
    background-color: lightblue;
}



#génération article {
    background-color: grey;
    display: flex;
    flex-direction: column;

    div{
    margin-left: auto;
    margin-right: auto;
    }
}


#pokémon article {
    background-color: lightblue;
    display: flex;
    align-content: flex-start;
}

.pokeImage{
    margin-left: auto;
}