@font-face {
   font-family: "Pokemon GB"; 
   src: url(../fonts/jackster-productions_pokemon-gb/Pokemon\ GB.ttf)
}



body {
    font-family: "Pokemon GB";
}



div .géneral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



div .dex {

}



div .génération {
    display: flex;
    flex-direction: column;
}



div .pokémon {
    display: flex;
    align-content: flex-start;
}