@font-face {
    font-family: "Pokemon GB"; 
    src: url(../fonts/jackster-productions_pokemon-gb/Pokemon\ GB.ttf)
}



body {
    font-family: "Pokemon GB";
}



.géneral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.dex {

}



.génération {
    display: flex;
    flex-direction: column;
}



.pokémon {
    display: flex;
    align-content: flex-start;
}